.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 50px;
    padding: 30px;
}

.list-unstyled{
    margin-top: 50px;
}
.media{
    margin-bottom: 50px;
    padding: 30px;
}
.btnn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 20px;
  }
  .warningg {
    border-color: #ff9800;
    color: orange;
  }
  
  .warningg:hover {
    background: #ff9800;
    color: white;
  }
 .card-group{
   padding: 100px;
 }
.card-text{
  text-align: justify;
}
.atext{
  text-align: justify;
}
.mr-3{
  border-radius: 30px;
  border: 2px solid black;
}
